body{
    background-color: aqua;
    color: white;

}
header{
    background:url("./images/orang.jpg");
    background-size: 18%;
}
a{color: yellow;}
a:visited{color: rgb(255, 0, 255);}
a:hover{color: crimson;}
a:active{color: rgb(114, 175, 0);}
h1{font-size: 100px;}
h2{font-size: 41px;}
p{font-size: 35px;}
ul{list-style:square;}